<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/AwesomeMvc.js"></script>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/portfolio-item.css" rel="stylesheet" />
    @*<link href="~/Content/common.css" rel="stylesheet" />*@
    <link href="~/Content/prettify.css" rel="stylesheet" />

    <link href="~/Content/AwesomeMvc.css" rel="stylesheet" />


    <!--[if lt IE 9]>
    <script src="~/Scripts/html5shiv.js"></script>
    <script src="~/Scripts/respond.js"></script>
    <![endif]-->

    <meta name="description" content="The description of my page" />
</head>
<body>

    @RenderBody()
    @RenderSection("scripts", required: false)

</body>
</html>

