@{
    ViewBag.Title = "Videos";
    Layout = "~/Areas/Management/Views/Shared/_AdminLayout.cshtml";
    IPagedList<Video> pagedList = ViewBag.VideoList;
}

<div class="row">
    <div class="col-xs-6">
        @using (Html.BeginForm("Words", "Config", FormMethod.Get))
        {
            <div class="input-group">
                @Html.TextBox("word", "", new { @class = "form-control" })
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        查询
                    </button>
                </span>
            </div>
        }
    </div>

    <div class="col-xs-6 text-right">


        <button type="button" onclick="awe.open('create')" class="btn btn-primary">Create</button>

        <a class="btn btn-primary" href="@Url.Action("Create")" role="button">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span>新增</span>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
            <caption>
            </caption>
            <thead>
                <tr>
                    <th>名称</th>
                    <th>客户</th>
                    <th>日期</th>
                    <th>等级</th>
                    <th>编辑</th>
                    <th>删除</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Video item in pagedList)
                {
                    <tr>
                        <td class="col-xs-3">@item.Name</td>
                        <td class="col-xs-5">@item.Customer</td>
                        <td class="col-xs-1">@item.UpdateTime.ToString("yyyy/MM/dd")</td>
                        <td class="col-xs-1">@item.Rank</td>
                        <td class="col-xs-1">
                            <a href="~/Config/EditWord?id=@item.Id&returnUrl=@Url.Encode(Request.RawUrl)"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                        <td class="col-xs-1">
                            @using (Html.BeginForm("DeleteWord", "Config", new { id = item.Id, returnUrl = Request.Url.PathAndQuery }, FormMethod.Post, new { @onsubmit = "return confirm('确定删除？')" }))
                            {
                                <button type="submit" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-xs-12">
        @Html.PagedListPager((IPagedList)ViewBag.VideoList, page => Url.Action("Index", new { page = page, search = ViewBag.Search }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>

