@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var videoCount = @ViewBag.VideoCount;
}



<div class="container">

    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="">Reach后台管理</h1>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-3">

            <div id="menu">
                <div class="panel list-group">
                    <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sm" data-parent="#menu">视频管理&nbsp;<span class="label label-info">@videoCount</span> <span class="glyphicon glyphicon-envelope pull-right"></span></a>
                    @*<div id="sm" class="sublinks collapse">
                            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right "></span> inbox</a>
                            <a class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> sent</a>
                        </div>*@
                    <a href="#" class="list-group-item" data-toggle="collapse" data-target="#sl" data-parent="#menu">站点设定<span class="glyphicon glyphicon-tag pull-right"></span></a>
                    <div id="sl" class="sublinks collapse">
                        <a href="#" class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> Logo</a>
                        <a href="@Url.Action("ContactUs","Home")" class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> 联系我们</a>
                        <a href="#" class="list-group-item small"><span class="glyphicon glyphicon-chevron-right"></span> 关于</a>
                    </div>
                    <a href="#" class="list-group-item">ANOTHER LINK ...<span class="glyphicon glyphicon-stats pull-right"></span></a>
                    <a href="@Url.Action("LoginOut","Account")" class="list-group-item">退出登录<span class="glyphicon glyphicon-log-out pull-right"></span></a>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    @RenderBody()
                    @RenderSection("scripts", required: false)
                </div>
            </div>
        </div>
    </div>



</div>

